html {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

@font-face {
  font-family: "OpenSans";
  src: local("OpenSans-Regular"),
    url("../fonts/OpenSansRegular.woff2") format(woff2),
    url("../fonts/OpenSansRegular.woff") format(woff);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSans";
  src: local("OpenSans-Light"),
    url("../fonts/OpenSansLight.woff2") format(woff2),
    url("../fonts/OpenSansLight.woff") format(woff);
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSans";
  src: local("OpenSans-SemiBold"),
    url("../fonts/OpenSansSemiBold.woff2") format(woff2),
    url("../fonts/OpenSansSemiBold.woff") format(woff);
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

body {
  min-width: 310px;
  font-family: "OpenSans", sans-serif;
  font-weight: 400;


}


html{
  overflow-x: hidden;
}

:root{
  --gap: 30px;
}

/* glob */

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.flex {
  display: flex;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  width: 100%;
}

.section-title {
  margin: 0;
  margin-bottom: 40px;
  font-weight: 300;
  font-size: 36px;
  line-height: 130%;
  color: #1c1c1c;
}

.section-descr {
  margin: 0;
  margin-bottom: 50px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #787878;
}

.section-offset {
  padding-top: 87px;
  padding-bottom: 160px;
}



.header {
  padding: 36px 0;
  border-bottom: 1px solid #c4c4c4;
  background-color: #fff;
}

.header-link {
  position: relative;
  font-weight: 600;
  color: #1c1c1c;
  font-size: 15px;
  transition: color 0.3s ease-in-out;
}

.header-link:focus {
  outline: 1px solid #71a7e2;
  outline-offset: 2px;
}

.header-link:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #3474ba;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.header-link:active:after {
  opacity: 1;
}

.header-link:active {
  color: #3172b9;
  outline: none;
}

.header-link:hover {
  color: #71a7e2;
}

.header-container {
  align-items: center;
}

.header-logo {
  margin-right: auto;
}

.header-nav {
  margin-right: 52px;
}

.header-list-item:not(:last-child) {
  margin-right: 52px;
}

.btn {
  font-weight: 600;
  font-size: 15px;
  background: #3172b9;
  border-radius: 3px;
  text-transform: uppercase;
  padding: 15px 35px;
  color: #fff;
  position: relative;
  outline: none;
  transition: background-color 0.3s ease-in-out;
}

.btn:after {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  bottom: -3px;
  right: -3px;
  border-radius: inherit;
  border: 1px solid #71a7e2;
  outline: none;
  opacity: 0;
  transition: opacity 0.3 ease-in-out;
}

.btn:focus:after {
  opacity: 1;
}

.btn:hover {
  background-color: #71a7e2;
}

.btn:active {
  background-color: #0e3b6c;
}

.btn:active:after {
  opacity: 0;
}

/* hero */

.hero {
  padding-top: 100px;
  padding-bottom: 150px;
  background-image: url("../img/hero-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero-content {
  max-width: 50%;
  flex-direction: column;
  align-items: flex-start;
}

.hero-title {
  margin: 0;
  margin-bottom: 25px;
  font-weight: 300;
  font-size: 40px;
  line-height: 130%;
}

.hero-descr {
  margin: 0;
  margin-bottom: 25px;
  font-weight: 400;
  font-size: 16px;
  line-height: 155%;
  color: #787878;
}

.hero-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-btn {
  margin-bottom: 14px;
  min-width: 250px;
  padding: 20px 0;
  margin-bottom: 14px;
}

.hero-secure {
  font-weight: 400;
  font-size: 11px;
  line-height: 155%;
  color: #787878;
  text-transform: uppercase;
  background-image: url(../img/secured-img.svg);
  background-position: left center;
  background-size: 14px 17px;
  background-repeat: no-repeat;
  padding-left: 30px;
}

/* services */

.services {
  border-bottom: 1px solid #dadada;
}

.services-title {
  text-align: center;
}

.services-descr {
  text-align: center;
}

.services-items{
  --offsets: 4;
  gap: var(--gap);
  align-items: left;
}

.services-item {
  flex-direction: column;
  align-items: center;
  padding: 60px 30px;
 width: calc((100% - (var(--gap) * var(--offsets))) / (var(--offsets) + 1)); 
  border: 1px solid #e4e4e4;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.services-item:hover {
  border-color: #3172b9;
  background-color: #3172b9;
}



.services-item-icon {
  fill: #3172b9;
  margin-bottom: 25px;
  transition: fill 0.3s ease-in-out;
}

.services-item-title {
  margin: 0;
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 20px;
  line-height: 130%;
  color: #1c1c1c;
  transition: color 0.3s ease-in-out;
}

.services-item:hover .services-item-title {
  color: #fff;
}

.services-item:hover .services-item-descr {
  color: #fff;
}

.services-item:hover .services-item-icon {
  fill: #fff;
}

.services-item-descr {
  margin: 0;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #787878;
  transition: color 0.3s ease-in-out;
}

/* articles */

.articles {
  border-bottom: 1px solid #dadada;
}

.articles-title {
  margin-bottom: 42px;
  font-weight: 300;
  font-size: 36px;
  line-height: 130%;
  color: #1c1c1c;
}

.articles-list {
  flex-wrap: wrap;
  --offsets: 1;
  gap:var(--gap);
}

.articles-item {

  width: calc((100% - (var(--gap) * var(--offsets))) / (var(--offsets) + 1));
}

.blog-preview {
  overflow: hidden;
  border: 1px solid #e4e4e4;
  border-radius: 5px;
}



.blog-preview-link {
  display: flex;
  position: relative;
  width: 100%;
  transition: background-color 0.3s ease-in-out;
}

.blog-preview-link:hover {
  background-color: #3172b9;
}

.blog-preview-link:hover .blog-preview-title {
  color: #fff;
}

.blog-preview-link:hover .blog-preview-descr {
  color: #fff;
}

.blog-preview-link:hover .blog-preview-time {
  color: #fff;
}

.blog-preview-link:focus {
  background-color: #71a7e2;
}

.blog-preview-link:focus .blog-preview-title {
  color: #fff;
}

.blog-preview-link:focus .blog-preview-descr {
  color: #fff;
}

.blog-preview-link:focus .blog-preview-time {
  color: #fff;
}

.blog-preview-link:active {
  background-color: #0e3b6c;
}

.blog-preview-link:active .blog-preview-title {
  color: #fff;
}

.blog-preview-link:active .blog-preview-descr {
  color: #fff;
}

.blog-preview-link:active .blog-preview-time {
  color: #fff;
}

.blog-preview-image {
  object-fit: cover;
}

.blog-preview-text {
  padding: 30px;
}

.blog-preview-time {
  display: block;
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 10px;
  line-height: 150%;
  color: #787878;
  transition: color 0.3s ease-in-out;
}

.blog-preview-title {
  margin: 0;
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 20px;
  line-height: 130%;
  color: #1c1c1c;
  transition: color 0.3s ease-in-out;
}

.blog-preview-descr {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #787878;
  max-width: 210px;
  transition: color 0.3s ease-in-out;
}

/* clients */

.clients {
  border-bottom: 1px solid #dadada;
}

.clients-title {
  margin-bottom: 42px;
  font-weight: 300;
  font-size: 36px;
  line-height: 130%;
  color: #1c1c1c;
}

.clients-list{
  --offsets: 3;
  gap: var(--gap);
  flex-wrap: wrap;
}

.clients-item {
  flex-direction: column;
  align-items: flex-start;
  width: calc((100% - (var(--gap) * var(--offsets))) / (var(--offsets) + 1));
  padding: 50px 36px 30px 36px;
  border-radius: 5px;
  border: 1px solid #dadada;
}



.clients-item-descr {
  margin: 0;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 180%;
  color: #787878;
}

.clients-user {
  margin-top: auto;
  align-items: center;
  border-top: 1px solid #dadada;
  width: 100%;
  padding-top: 28px;
}

.clients-avatar {
  flex-shrink: 0;
  width: 67px;
  margin-right: 17px;
}

.clients-name {
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 17px;
  line-height: 180%;
  color: #1c1c1c;
}

.clients-post {
  font-weight: 400;
  font-size: 14px;
  line-height: 180%;
  color: #787878;
}

/* contacts */

.contacts {
  border-bottom: 1px solid #dadada;
}

.contacts-address {
  font-style: normal;
}

.contacts-title {
  margin-bottom: 42px;
  font-weight: 300;
  font-size: 36px;
  line-height: 130%;
  color: #1c1c1c;
}



.contacts-list{
  flex-wrap: wrap;
  --offsets:2;
  gap: var(--gap);

}

.contacts-item {
  flex-direction: column;
  align-items: flex-start;
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 29px 29px;
  padding-top: 48px;
  width: calc((100% - (var(--gap) * var(--offsets))) / (var(--offsets) + 1));
}

.contacts-item-address {
  background-image: url("../img/Location.svg");
}

.contacts-item-phone {
  background-image: url("../img/Phone.svg");
}

.contacts-item-email {
  background-image: url("../img/Email.svg");
}



.contacts-item-caption {
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 17px;
  line-height: 180%;
  color: #1c1c1c;
}

.contacts-item-text {
  margin: 0;
  max-width: 215px;
  font-weight: 400;
  font-size: 14px;
  line-height: 180%;
  color: #787878;
}

.contacts-item-link {
 display: inline-block;
  font-size: 14px;
  line-height: 180%;
  color: #787878;
  transition: color 0.3s ease-in-out;
}

.contacts-item-link:focus {
  outline: 1px solid #71a7e2;
}

.contacts-item-link:hover{
  color:#71A7E2;
}

.contacts-item-link:active{
  outline: none;
  color: #0E3B6C;
}

/* join-us */

.join-us {
  padding-top: 86px;
  padding-bottom: 160px;
  border-bottom: 1px solid #dadada;
}

.join-us-title {
  font-weight: 300;
  font-size: 36px;
  line-height: 130%;
  text-align: center;
  color: #1c1c1c;
}

.form {
  padding-left: 55px;
  padding-right: 55px;
}

.join-us-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #787878;
  margin-bottom: 30px;
}

.form-input {
  border: 1px solid #dadada;
  border-radius: 50px;
  box-sizing: border-box;
  padding: 16px 28px;
  width: 251px;
  height: 60px;
  margin-bottom: 10px;
  transition: background-color 0.3s ease-in-out,border-color 0.3s ease-in-out;
}

.form-input:focus{
  outline: none;
  border-color:#71A7E2;
  background-color: rgba(113, 167, 226, 0.2);
}

.form-input:hover{
  border-color: #71A7E2;
}

.form-input:active{
  border-color: #0E3B6C;
}

.form-textarea:focus{
  outline: none;
  border-color:#71A7E2;
  background-color: rgba(113, 167, 226, 0.2);
}

.form-textarea:hover{
  border-color: #71A7E2;
}

.form-textarea:active{
  border-color: #0E3B6C;
}

.form-select:focus{
  outline: none;
  border-color:#71A7E2;
  background-color: rgba(113, 167, 226, 0.2);
}

.form-select:hover{
  border-color: #71A7E2;
}

.form-select:active{
  border-color: #0E3B6C;
}

.form-select {
  border: 1px solid #dadada;
  border-radius: 50px;
  box-sizing: border-box;
  padding: 16px 28px;
  width: 251px;
  height: 60px;
  transition: background-color 0.3s ease-in-out,border-color 0.3s ease-in-out;
}

.form-textarea {
  border: 1px solid #dadada;
  border-radius: 20px;
  box-sizing: border-box;
  resize: none;
  padding: 16px 28px;
  width: 100%;
  height: 100%;
  transition: background-color 0.3s ease-in-out,border-color 0.3s ease-in-out;
}

.form-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 19px;
}

.form-left {
  width: 49%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-right {
  width: 49%;
}

.form-bottom {
  display: flex;
  justify-content: flex-end;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-btn {
  max-width: 230px;
  padding: 20px 0;
  border-radius: 50px;
  width: 230px;
  margin-bottom: 9px;
}

.form-check {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #787878;
}
.form-check input {
  margin-right: 8px;
}

.form-check a {
  color: #3172b9;
  border-bottom: 1px solid #3172b9;
}

/* footer */

.footer {
  padding: 42px 0;
}

.footer-copy {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #787878;
}

.footer-nav {
  margin-right: 56px;
}

.footer-link {
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: #787878;
   transition: color 0.3s ease-in-out;
}


.footer-link:focus {
  outline: 1px solid #71a7e2;
  outline-offset: 2px;
}

.footer-link:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #3474ba;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.footer-link:active:after {
  opacity: 1;
}

.footer-link:active {
  color: #3172b9;
  outline: none;
}

.footer-link:hover {
  color: #71a7e2;
}

.footer-container {
  align-items: center;
  justify-content: space-between;
}

.footer-left,
.footer-right {
  align-items: center;
}

.footer-logo {
  margin-right: 25px;
}

.footer-item:not(:last-child) {
  margin-right: 28px;
}

.social-link {
  width: 24px;
  height: 24px;
display: flex;
align-items: center;
justify-content: center;
}

.social-item:not(:last-child) {
  margin-right: 32px;
}

.social-link svg{
  fill: black;
   transition: fill 0.3s ease-in-out, stroke 0.3s ease-in-out;
}

.social-link-mail svg{
  fill: transparent;
  stroke: black;
 
}

.social-link:focus{
  outline-offset: 2px;
  outline: 1px solid #71A7E2;
}

.social-link:hover svg{
  fill:#71A7E2;
}

.social-link-mail:hover svg{
  fill: transparent;
  stroke: #71A7E2;
}

.social-link:active svg{
 fill:#3172B9;
}

.social-link-mail:active svg{
  fill: transparent;
  stroke: #3172B9;
}



